*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Open sans", sans-serif;
	background: #e8e8e8;
}

.forms{
	width: 400px;
    height: 600px;
    border-width: 2px;
   	border-color: #7a09de;
    border-style: solid;
 	display: inline-block;
 	border-radius: 20px;
	position: absolute;
	left: 34%;
	top: 20%;
}

input{
	width: 300px;
	font-size: 10px;
	height: 40px;
	margin-top: 30px;
	margin-left: 40px;
	border-radius: 4px;
	border: none;
	outline: none;
}

h4{
	margin-left: 40px;
	margin-top: 30px;
}

.btn{
	cursor: pointer;
	background: #7a09de;
	color: white;
	font-size: 12px;
	font-family: "Open sans", sans-serif;
}

#img{
	margin-left: 40px;
}



.bottom .center{
	margin-top: 700px;
	padding: 5px;
	font-size: 15px;
	background: #e8e8e8;
	color: white;
	text-align: center;
}

.bottom .center span{
	color: #20201F;
	font-family: 'Open Sans', sans-serif;
}
.bottom .center a{
	color: #20201f;
	text-decoration: none;
}
.bottom .center a:hover{
	text-decoration: underline;
}